@import "tailwindcss";

body {
  overflow-x: hidden;
}

@keyframes gentle-bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.animate-gentle-bounce {
  animation: gentle-bounce 3s ease-in-out infinite;
}